@charset "UTF-8";

table {
	border: 1px silver;
	border-style: solid;
	width: 100%;
	margin-left:auto; 
    margin-right:auto;
}

table thead th {
	border: 1px;
	padding: 10px 5px;
}

table thead tr {
	background-color:#04B45F;
	color: white;
}

table tbody tr td{
	text-align: center;
}

tr.colored:nth-child(even){
  background-color:#FFFFFF;
  color:#000000;
}

tr.colored:nth-child(odd){
  background-color:#c8c8c8;
  color:#000000;
}