@charset "UTF-8";

col{
	width: 20%; 
	background: #04B45F;
}

td.label{
	background: #04B45F;
	color: white; 
	font-weight:bold;
}

td.info{
	text-align: left;
}

tr.info:nth-child(odd){
  background-color:#FFFFFF;
  color:#000000;
}

tr.info:nth-child(even){
  background-color:#dcdcdc;
  color:#000000;
}

table {
	border: 1px silver;
	border-style: solid;
	width: 100%;
	margin-left:auto; 
    margin-right:auto;
}

table thead th {
	border: 1px;
	padding: 10px 5px;
}

table thead tr {
	background-color:#04B45F;
	color: white;
}

table tbody tr td{
	text-align: center;
}

tbody tr :hover {
  background-color: #d3d3d3 !important;
}

tr.colored:nth-child(odd){
  background-color:#FFFFFF;
  color:#000000;
}

tr.colored:nth-child(even){
  background-color:#dcdcdc;
  color:#000000;
}

.btn{
	text-align: center;
	margin:auto; 
	display: block;
}

.newBookMark{
	width: 20%;
	background: #04B45F;
	color: white;
}
